<% if authorize_for(:storage_items, :new) %>
  <div class="contextual">
    <%= link_to l(:label_storage_item_new), new_storage_item_path(:project_id => @project.id), :class => 'icon icon-add' %>
  </div>
<% end %>

<%= title l(:label_storage_item_plural) %>
&nbsp;

<%= form_tag(storage_items_path, :method => :get) do %>
  <fieldset>
    <legend><%= l(:label_filter) %></legend>
    <%= hidden_field_tag 'project_id', @project.id %>
    <label for="name"><%= l(:field_item_name) %></label>
    <%= text_field_tag 'name', params[:name], :size => 30 %>
    <%= submit_tag l(:button_apply), :class => 'small', :name => nil %>
    <%= link_to l(:button_clear), storage_items_path(:project_id => @project.id), :class => 'icon icon-reload' %>
  </fieldset>
<% end %>

<%= render :partial => "items_table", :locals => {:items => @items} %>
